<div class="body_content d-flex bd-highlight mt-3 ">
    <div class="type_element lin flex-fill bd-highlight">
      {%PRODUCTEMOJI%}
    </div>
    <div class="name_element lin flex-fill bd-highlight">
      {%PRODUCTNAME%}
    </div>
    <div class="lin flex-fill bd-highlight val_nut"> 
            <span>P: {%PRODUCTPROTEINE%}g</span>
            <span>C: {%PRODUCTCARB%}g</span>
            <span>F: {%PRODUCTFAT%}g</span>                
    </div>
    <div class="lin flex-fill bd-highlight stock">
        {%PRODUCTQUANTITY%} in <span class="stock_emoji">🏪</span>
    </div>
    <div class="lin flex-fill bd-highlight price">
        {%PRODUCTDIRHAM%} DH
    </div>
    <div class="lin flex-fill bd-highlight detail ">
       <a href="/product?id={%PRODUCTID%}" class="link">Détails <span class="pb-2">👉</span></a> 
    </div>
</div>